canvas {
  border: 1px solid #CCC;
}

textarea {
  height: 444px;
  margin-bottom: 26px;
}

.container {
  margin-top: 34px;
  padding: 40px;
}

.cover  {
  margin-bottom: 20px;
  text-align: center;
}

.canvas-container {
  position: relative;
}

.dummy-canvas {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  z-index: 10;
}

.canvas-tools {
  margin: 20px 0;
}

.json {
  margin-bottom: 20px;
}

.hide {
  display: none;
}

.pure-menu {
  background: #1f8dd6;
}

.pure-menu-heading.pure-menu-link {
  color: #fff;
}

.pure-menu-link {
  color: rgb(169, 226, 255);
}

.pure-menu-link:hover,
.pure-menu-link:active,
.pure-menu-link:visited,
.pure-menu-link:focus {
  text-decoration: underline;
  background-color: transparent;
}

.pure-menu-list {
  float: right;
}
